@import '../../layout/variables.scss';

.details {

  a {
    display: flex;
    flex-flow: row wrap;
    margin: 5px 0;

    canvas {
      width: 32px;
      height: 32px;
    }
  }

  .tokenBalance {
    margin-too: 5px;
    margin-bottom: 15px;
    color: #ccc;
    font-size: 14px;
    display: flex;
    flex-flow: row wrap;

    .bold {
      margin-right: 5px;
      font-weight: bold;
      color: $primary;
    }
  }

  span {
    display: block;
    font-size: 12px;
    margin-left: 5px;
    padding-left: 0 !important;
    word-break: break-word;

  }

}
