@import './layout/variables.scss';

.app {
  height: auto;
  min-height: 100vh;
  .home {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    min-height: 100vh;
    box-sizing: border-box;
    height: 100%;
  }

  .title {
    font-size: 72px;
    line-height: 108px;
    margin: 20px 0;
    text-align: center;
    width: 100%;
  }

  .subtitle {
    font-size: 36px;
    line-height: 54px;
    margin: 10px 0;
    text-align: center;
    width: 100%;
  }

  .buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    button {
      margin: 0 10px;
    }
  }

  .transactionsWrapper {
    position: absolue;
    z-index: 2;
    bottom: 0;
    right: 0;
  }

  .dapparatusWrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
  }

  a {
    color:#aaaaaa;
    text-decoration: none;
  }
  a:visited {
    color:#999999;
    text-decoration: none;
  }
}
