@import './layout/variables.scss';

.home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
}

.title {
  font-size: 72px;
  margin: 20px 0;
}

.subtitle {
  font-size: 48px;
  margin: 10px 0;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  button {
    margin: 0 30px;
  }
}

a {
  color:#aaaaaa;
  text-decoration: none;
}
a:visited {
  color:#999999;
  text-decoration: none;
}

.col {
  text-align: center;
  padding: 10px;
  height: 100%;
}


.button{
  padding:10px;
  margin:10px;
  border:1px solid #eeeeee;
  background-color:#e6e6e6;
  width:200px;
  text-align:center;
  cursor:pointer;
}

.titleCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
